APP_NAME='UsahaHub'
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL="http://127.0.0.1:8000"
SOCKET_URL=''
MIX_APP_URL=${APP_URL}
MIX_SOCKET_URL=${SOCKET_URL}

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=dbname
DB_USERNAME=root
DB_PASSWORD=root

BROADCAST_DRIVER=log
QUEUE_CONNECTION=database
 
CACHE_DRIVER=array
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PURCHASE_CODE=
PRODUCT_VERSION='2.0.1'
PURCHASE_USERNAME=
PRODUCT_TYPE=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=

WHATSAPP_SERVER_URL="" 
WHATSAPP_HOST="0.0.0.0"
WHATSAPP_PORT=3300
MAX_RETRIES=5
RECONNECT_INTERVAL=5000
WHATSAPP_BROWSER='Chrome' 
API_WABA_VERSION='v20.0'
   
SOCKET_HOST=
SOCKET_PORT=3001
 
EXPRESS_HOST=
EXPRESS_PORT=3002 


MAX_FILE_SIZE_MB=5
SOCKET_ALLOWED_ORIGINS=https://chat.replai.id
